@model UCP1_PAW_020_A.Models.Transaksi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJumlah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJumlah)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBayar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBayar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBarangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBarangNavigation.IdCustomer)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdBarang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
