@model UCP1_PAW_020_A.Models.Bonu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bonu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumlahBonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumlahBonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBonusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBonusNavigation.IdBarang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBonus">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
